extends ../module/layout.pug

block head
  title EDM Generator

block styles
  style
    include style.css

block content
  +container('600px')
    h1 Hello EDM Title
    p Great edm generator
    +img('https://pixiv.cat/102233001.jpg')