include mixin.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    block head
    if !locals.isProd
      script(src="/reload.js")

  body
    block content